<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <%= link_to 'Chapter 9.28 Ticketing', root_path, class: 'navbar-brand' %>
    </div>
  </div>
</nav>
